//- layout.pug
doctype html
html
  head
    title This is Geeta Dance Academy
    block scripts
    block style
  body
    nav#navbar
      ul 
        div#logo
         img(src="/static/img/card3.png")
        li #[a(href="/") Home] 
        li #[a(href="/about") About] 
        li #[a(href="/") Class Info]
        li #[a(href="/contact") Contact Us]
    block content
    footer#footer 
     p.foot 
      |Copyright  &copy;www.GeetaDanceAcademy.com 2027-All right are reserved
     