extends base.pug
block scripts
  script(src='/static/index.js')
  script(src="https://code.iconify.design/2/2.0.3/iconify.min.js")


block style 
  style 
    include ../static/style.css


block content 
      section#introsection 
         div.introhead
           div.intro Welcome to Geeta Dance Academy
           div.intro Eat Sleep Dance Repeat
      section#mission 
        h2 Our Mission
        div.card
          h3 Believe in perfection
          div.card-box 
           div.card-img 
             img(src="4.png")
           div.card-content
             p this is best dance academy so come to learn for perfection and go for services
        div.card
          h3 Devoted faculty
          div.card-box 
           div.card-img 
            img(src="5.png")
           div.card-content
            p All our faculty members fully experts and their students works in bollywood ,hollywood
        div.card
          h3 Dance the way you like 
          div.card-box 
           div.card-img 
            img(src="3.png")
           div.card-content
            p We provide a broad dance category almost all the bollywood, hollywood etc.
      section#sponsersection 
        h2 Our sponser
         div.sponser 
          img(src="apple.png", alt="image")
          img(src="hp.png", alt="image")
          img(src="skype.png", alt="image")
          img(src="microsoft.png", alt="image")
      